<!DOCTYPE html>
<html>
<head>
    <title>Word Count</title>
    <script src="https://d3js.org/d3.v6.min.js"></script>
    <!-- Include Tailwind CSS from CDN -->
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.1.2/dist/tailwind.min.css" rel="stylesheet">
    <style>
        .chart-container {
            display: flex;
            justify-content: center;
        }
        .chart-title {
            text-align: center;
            font-size: 24px;
            margin-bottom: 20px;
        }
    </style>
</head>
<body class="bg-gray-100">
    <h1 class="chart-title mt-10">Top 15 Word Frequencies</h1>
    <div class="chart-container">
        <div id="chart"></div>
    </div>

    <!-- Tailwind CSS button styling -->
    <div class="flex justify-center space-x-4 mt-8">
        <button onclick="downloadJson()" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
            Download JSON
        </button>
        <button onclick="downloadTxt()" class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded">
            Download TXT
        </button>
    </div>

    <div class="flex justify-center">
        <p class="text-gray-700 text-xl font-bold w-3/5 text-center	mt-10">Above is a chart which displays the 15 most frequent words in the text. Below the chart there are two buttons which allow you to download the data in JSON or TXT format.
            The JSON contains the word and its frequency, while the TXT contains only the words, sorted from the most frequent to the least frequent.
        </p>
    </div>

    <script>
        const data = JSON.parse('{{ word_count|safe }}');

        console.log(data);
        renderBarChart(data.slice(0, 15));

        function renderBarChart(data) {
            const margin = {top: 30, right: 30, bottom: 70, left: 60},
                width = 960 - margin.left - margin.right,
                height = 500 - margin.top - margin.bottom;
        
            const svg = d3.select("#chart")
                .append("svg")
                .attr("width", width + margin.left + margin.right)
                .attr("height", height + margin.top + margin.bottom)
                .append("g")
                .attr("transform", `translate(${margin.left},${margin.top})`);
        
            const x = d3.scaleBand()
                .range([0, width])
                .domain(data.map(d => d[0])) // Use the first element for the word
                .padding(0.1);
        
            svg.append("g")
                .attr("transform", `translate(0,${height})`)
                .call(d3.axisBottom(x))
                .selectAll("text")
                .style("text-anchor", "end")
                .attr("dx", "-.8em")
                .attr("dy", ".15em")
                .attr("transform", "rotate(-40)");
        
            const y = d3.scaleLinear()
                .domain([0, d3.max(data, d => d[1])]) // Use the second element for the count
                .range([height, 0]);
        
            svg.append("g")
                .call(d3.axisLeft(y));
        
            svg.selectAll(".bar")
                .data(data)
                .enter().append("rect")
                .attr("class", "bar")
                .attr("x", d => x(d[0]))
                .attr("width", x.bandwidth())
                .attr("y", d =>y(d[1]))
                .attr("height", d => height - y(d[1])); // Calculate the height based on the count
        }
    
        function downloadJson() {
            const dataStr = "data:text/json;charset=utf-8," + encodeURIComponent(JSON.stringify(data));
            const downloadAnchorNode = document.createElement('a');
            downloadAnchorNode.setAttribute("href", dataStr);
            downloadAnchorNode.setAttribute("download", "word_count.json");
            document.body.appendChild(downloadAnchorNode); // required for Firefox
            downloadAnchorNode.click();
            downloadAnchorNode.remove();
        }

        function downloadTxt() {
            const wordList = data.map(d => d[0]).join('\n'); // Create a string with each word in its own row
            const dataStr = "data:text/plain;charset=utf-8," + encodeURIComponent(wordList);
            const downloadAnchorNode = document.createElement('a');
            downloadAnchorNode.setAttribute("href", dataStr);
            downloadAnchorNode.setAttribute("download", "word_list.txt");
            document.body.appendChild(downloadAnchorNode);
            downloadAnchorNode.click();
            downloadAnchorNode.remove();
        }
    </script>
</body>
</html>